$white-color: #e9ecef;

%margin-setter {
	margin-top: 30px;
}

%gallary {
	border-radius: 15px;
	margin: 15px;
}

#header {
	margin-left: 14px;
	margin-top: 50px;
}

#subtitle {
	font-size: 17px;
	color: grey;
	margin-top: 7px;
}

div {
	text-emphasis: none;
	.topnav {
		background-color: $white-color;
		overflow: hidden;
		border-radius: 10px;
		margin-top: 30px;
	}

	.topnav a {
		float: left;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	.topnav a:hover {
		background-color: $white-color;
		color: black;
	}

	.topnav a.active {
		background-color: #007bff;
		color: white;
	}
}

#highlight_box {
	@extend %margin-setter;
}

.footer {
	@extend %margin-setter;
	text-align: center;
}

@media (max-width: 572px) {
	#small_screen {
		display: none;
	}
	#map-invisible {
		display: none;
	}
}

@media (min-width: 573px) {
	#hide-when-large {
		display: none;
	}
}

a[target="_blank"]:after {
	font-family: "FontAwesome";
	content: " \f35d";
}

#map > img {
	width: 100%;
	border-radius: 15px;
	margin-bottom: 30px;
}

table.minimalistBlack {
	border: 3px solid #000000;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

table.minimalistBlack td,
table.minimalistBlack th {
	border: 1px solid #000000;
	padding: 7px 10px;
}

table.minimalistBlack tbody td {
	font-size: 13px;
}

table.minimalistBlack thead {
	background: #cfcfcf;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
	background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
	background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
	border-bottom: 3px solid #000000;
}

table.minimalistBlack thead th {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

table.minimalistBlack tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	border-top: 3px solid #000000;
}

table.minimalistBlack tfoot td {
	font-size: 14px;
}

#gallary1 {
	@extend %gallary;
}

#gallary2 {
	@extend %gallary;
}

#gallary3 {
	@extend %gallary;
}

#gallary4 {
	@extend %gallary;
}
