.alert {
	margin: 1000px;
}

#header {
	margin-left: 14px;
	margin-top: 50px;
}

#subtitle {
	font-size: 17px;
	color:grey;
	margin-top: 7px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #E9ECEF;
	overflow: hidden;
	border-radius: 10px;
	margin-top: 30px;
  }
  
  .topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #007BFF;
	color: white;
  }

  #highlight_box {
	  margin-top: 30px;
  }

  .footer {
	  margin-top: 50px;
	  text-align: center;
  }

  @media (max-width: 572px) {
	#small_screen {
		display: none;
	}
}

a[target="_blank"]:after {
	font-family: 'FontAwesome';
    content: " \f35d";
}

#map > img {
	width: 90%;
	border-radius: 15px;
	margin-bottom: 30px;
}